@media (min-width: 540px) and (max-width: 1440px) {
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .item1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .down {
    transition-delay: 1s;
    transition-duration: 5s;
    color: rgb(0, 12, 82);
    font-size: 1.5em;
  }
  .grown {
    transition-delay: 1s;
    transition-duration: 2s;
    color: rgb(131, 0, 0);
    font-size: 2.5em;
    cursor: pointer;
  }
}
